<app-display-four-o-four [showError]='errorOccurred' [statusCode]="errorCode">
    <button class="btn btn-outline-primary fa fa-arrow-left" (click)="back()"> Back</button>
    <hr>

    <app-loading-bar [isLoading]="!selectedUniversity && !errorOccurred"></app-loading-bar>

    <div *ngIf="selectedUniversity" class="mt-2">
        <h1>
            <a [href]="selectedUniversity.url" target="_blank">{{ selectedUniversity.name }}</a>
            <span class="d-none d-sm-inline h-100 ml-1 k-center"><span class="k-open-icon"></span></span>
        </h1>
        <hr>

        <div class="bg-dark py-4">
            <img [src]="selectedUniversity.iconUrl" class="d-block mx-auto" style="max-height: 350px; max-width: 100%;">
        </div>
        <hr>

        <div *ngIf="selectedUniversity.faculties.length > 0">
            <h4>Faculties</h4>
            <ul>
                <li *ngFor="let faculty of selectedUniversity.faculties">{{ faculty }}</li>
            </ul>
            <hr>
        </div>

        <table class="w-100 table">
            <tr class="table-active">
                <td>Phone Number</td>
                <td>{{ selectedUniversity.phone }}</td>
            </tr>
            <tr class="table-active">
                <td>Address</td>
                <td>
                    {{ selectedUniversity.streetAddress }},<br>
                    {{ selectedUniversity.city }}, {{ selectedUniversity.provinceState }},<br>
                    {{ selectedUniversity.country }}, {{ selectedUniversity.postalCode }}
                </td>
            </tr>
        </table>

        <hr>

        <div>
            <app-loading-bar [isLoading]="isLoadingPrograms"></app-loading-bar>

            <h4 class="d-flex justify-content-center" *ngIf="attachedPrograms && attachedPrograms.length > 0">Programs Available at {{ selectedUniversity.name }}</h4>

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mx-auto mt-3 w-100 px-2">
                <div *ngFor="let program of attachedPrograms" class="col mb-3 px-3">
                    <app-program-card-view [program]="program"></app-program-card-view>
                </div>
            </div>
        </div>
    
    </div>

</app-display-four-o-four>
