<div class="card w-100 h-100">
    <div class="card-img-top bg-dark" style="height: 35%">
        <img [src]="university.iconUrl" [alt]="university.name + ' Icon Image'" class="mx-auto mt-auto d-block mw-100 mh-75 mb-2">
    </div>
    <div class="card-body flex-fill">
        <h5 class="card-title">{{ university.name }}</h5>
        <p class="card-text">
            {{ university.streetAddress }},<br>
            {{ university.city }}, {{ university.provinceState }}, {{ university.postalCode}},<br>
            {{ university.country }}
        </p>
    </div>
    <div class="container mb-2">
        <button type="button" class="btn btn-block btn-primary mt-auto mb-0" [routerLink]="'/universities/' + university.id">Details</button>
    </div>
</div>