<app-lazy-presenter (scrolled)="onScroll()">
    <div class="">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mx-auto mt-3 w-100 px-md-2">
            <div *ngFor="let course of courses" class="mb-3 px-md-3">
                <div class="card w-100 h-100">
                    <div class="card-img-top bg-dark" style="height: 35%">
                        <img [src]="course.universityIconUrl" [alt]="course.universityName + 'Icon Image'" class="m-auto d-block mw-100 mh-75">
                    </div>
                    <div class="card-body flex-fill">
                        <h5 class="card-title">{{ course.courseTitle }}</h5>
                        <p class="card-text">
                            @{{ course.universityName }}
                        </p>
                    </div>
                    <div class="container mb-2">
                        <button type="button" class="btn btn-block btn-primary mt-auto mb-0" [routerLink]="'/courses/' + course.courseId">Details</button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <app-loading-bar [isLoading]="isLoading"></app-loading-bar>
</app-lazy-presenter>