<app-lazy-presenter (scrolled)="onScroll()">
    <div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 mx-auto mt-3 w-100 px-md-2">
            <div *ngFor="let category of categories" class="mb-3 px-md-3">
                <div class="card w-100 h-100">
                    <div class="card-body flex-fill">
                        <h4 class="card-title">{{ category.title }}</h4>
                        <hr>
                        <div *ngIf="category.futureJobOpportunities.length > 0">
                            <p class="card-text mt-2"><strong>Future Opportunities</strong></p>
                            <ul class="card-text">
                                <li *ngFor="let opp of category.futureJobOpportunities.slice(0, 3)">
                                    {{ opp }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="container mb-2">
                        <button type="button" class="btn btn-block btn-primary mt-auto mb-0" [routerLink]="'/pathways/' + category.id">Details</button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>


    <app-loading-bar [isLoading]="isLoading"></app-loading-bar>
</app-lazy-presenter>