<div class="card w-100 h-100">
    <div class="card-img-top bg-dark" style="height: 35%">
        <img [src]="course.universityIconUrl" [alt]="course.universityName + 'Icon Image'" class="m-auto d-block mw-100 mh-75">
    </div>
    <div class="card-body flex-fill">
        <h5 class="card-title">{{ course.courseTitle }}</h5>
        <p class="card-text">
            @{{ course.universityName }}
        </p>
    </div>
    <div class="container mb-2">
        <button type="button" class="btn btn-block btn-primary mt-auto mb-0" [routerLink]="'/programs/' + course.courseId">Details</button>
    </div>                    
</div>