<app-display-four-o-four [showError]="errorOccurred" [statusCode]="errorCode">
    
    <button class="btn btn-outline-primary fa fa-arrow-left" (click)="back()"> Back</button>
    <hr>

    <app-loading-bar [isLoading]="!selectedCategory && !errorOccurred"></app-loading-bar>
    
    <div *ngIf="selectedCategory" class="mt-2">
        <h1>{{ selectedCategory.title }}</h1>
        <hr>
        <div *ngIf="selectedCategory.futureJobOpportunities.length > 0">
            <h4>Future Prospects</h4>
            <ul>
                <li *ngFor="let opportunity of selectedCategory.futureJobOpportunities">
                    {{ opportunity }}
                </li>
            </ul>
            <hr>
        </div>

        <div>
            <app-loading-bar [isLoading]="isLoadingPrograms"></app-loading-bar>

            <h4 class="d-flex justify-content-center" *ngIf="!isLoadingPrograms">Look into these programs</h4>

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mx-auto mt-3 w-100 px-2">
                <div *ngFor="let program of attachedPrograms" class="mb-3 px-3">
                    <div class="card w-100 h-100">
                        <div class="card-img-top bg-dark" style="height: 35%">
                            <img [src]="program.universityIconUrl" [alt]="program.universityName + 'Icon Image'" class="m-auto d-block mw-100 mh-75">
                        </div>
                        <div class="card-body flex-fill">
                            <h5 class="card-title">{{ program.courseTitle }}</h5>
                            <p class="card-text">
                                @{{ program.universityName }}
                            </p>
                        </div>
                        <div class="container mb-2">
                            <button type="button" class="btn btn-block btn-primary mt-auto mb-0" [routerLink]="'/programs/' + program.courseId">Details</button>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>

    </div>


</app-display-four-o-four>