<div class="container">
    <h2>Selected Programs {{ numberOfPrograms > 0 ? '(' + numberOfPrograms + ')' : '' }}</h2>
    <div class="w-100 m-2 border border-dark rounded p-2" *ngFor="let program of selectedPrograms">
        <div class="d-flex justify-content-between">
            <h3 class="my-auto"><span class="badge badge-info">{{ program.title + '@' + getUniMap(program) }}</span></h3>

            <button class="btn btn-danger rounded fas fa-times" (click)="remove(program, $event)"></button>
        </div>
    </div>

</div>

<div class="mt-5 mx-auto w-100 holder">
    <h2>Compare</h2>
    
    <div *ngIf="numberOfPrograms > 0" class="my-5 info-outer">
        
        <table  class="mt-2 table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th class="mx-auto" *ngFor="let program of selectedPrograms">
                        <div class="bg-dark img-wrapper">
                            <img class="d-block m-auto icon-image" [src]="getIcon(program)" [alt]="getUniMap(program)">
                        </div>
                        {{ program.title }}
                    </th>                        
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Faculty</td>
                    <td *ngFor="let program of selectedPrograms">{{ program.faculty }}</td>
                </tr>

                <tr>
                    <td>Required Averages</td>
                    <td *ngFor="let program of selectedPrograms">{{ program.requiredAverage }}%</td>
                </tr>

                <tr class="table-info" style="font-size: 0.95rem">
                    <td [attr.colspan]="numberOfPrograms + 1"><strong>Domestic</strong></td>
                </tr>

                <tr>
                    <td>Tuition</td>
                    <td *ngFor="let program of selectedPrograms">${{ program.domesticTuition }}</td>
                </tr>

                <tr>
                    <td>Books</td>
                    <td *ngFor="let program of selectedPrograms">${{ program.domesticBooks }}</td>
                </tr>

                <tr class="table-info" style="font-size: 0.95rem">
                    <td [attr.colspan]="numberOfPrograms + 1"><strong>International</strong></td>
                </tr>

                <tr>
                    <td>Tuition</td>
                    <td *ngFor="let program of selectedPrograms">${{ program.internationalTuition }}</td>
                </tr>

                <tr>
                    <td>Books</td>
                    <td *ngFor="let program of selectedPrograms">${{ program.internationalBooks }}</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>