<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a [routerLink]="['/']" class="navbar-brand">Guiding Vision</a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['/pathways']" (click)="isMenuCollapsed = true">Pathways</a>
            </li>
            <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['/universities']" (click)="isMenuCollapsed = true">Universities</a>
            </li>
            <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['/programs']" (click)="isMenuCollapsed = true">Programs</a>
            </li>                                
        </ul>

        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <form class="d-flex navbar-right" (ngSubmit)="search()">
            <input class="form-control mr-2 py-0" type="text" placeholder="Search" [(ngModel)]="searchQuery" name="searchQuery">
            <!-- id="name" [(ngModel)]="hero.name" placeholder="name" -->
            <button #searchButton class="btn btn-secondary my-lg-0 py-lg-0 my-0 py-2" type="submit" (click)="isMenuCollapsed = true">Search</button>
        </form>

        <ul class="navbar-nav ml-lg-3 mt-2 mt-lg-0">
            <li class="nav-item mx-lg-auto" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['/compare']" (click)="isMenuCollapsed = true" data-toggle="tooltip" data-placement="bottom" title="Compare Courses List">
                    <i class="fas fa-balance-scale-right fa-2x"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
