<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a [routerLink]="['/']" class="navbar-brand">Guiding Vision</a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['/pathways']" (click)="isMenuCollapsed = true">Pathways</a>
            </li>
            <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['/universities']" (click)="isMenuCollapsed = true">Universities</a>
            </li>
            <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['/courses']" (click)="isMenuCollapsed = true">Courses</a>
            </li>                                
        </ul>
    </div>
</nav>