/* You can add global styles to this file, and also import other style files */
/* .body {
    background-color: #5a5a5a
} */
:root {
    --gold: #eccf7e;
}

.bg-gold {
    background-color: var(--gold);
}

.text-gold {
    color: var(--gold);
}