<div class="bg-primary">
    <div class="container pt-5">
        <div class="row">
            <!-- Logo Image -->
            <div class="col-12 col-lg-3 col-xl-3 mb-5">
                <img src='/assets/logo.png' class="img-fluid mx-auto d-block" />
            </div>

            <!-- Members list-->

            <div class="col-md-3 col-sm-6 d-block mx-auto">
                <hr class="d-sm-none d-xs-block" style="border-top: 1px solid #fff">                                
                <h5 class="mb-3 font-weight-bold text-uppercase text-white">Members</h5>
                <ul class="list-group" *ngFor="let member of members">
                    <li class="list-group-item bg-transparent border-0 p-0">{{ member }}</li>
                </ul>
            </div>

            <!-- Mission Statement -->
            <div class="col-md-3 col-sm-6 d-block mx-auto">
                <hr class="d-sm-none d-xs-block" style="border-top: 1px solid #fff">                
                <h5 class="mb-3 font-weight-bold text-uppercase text-white">Mission Statement</h5>
                <p>
                    Wow this is such a cool mission statement. You can really tell
                    what we're all about from reading this. So cool!!
                </p>
            </div>

            <!-- Socials -->
            <div class="col-md-3 col-sm-12 d-block mx-auto">
                <hr class="d-md-none d-sm-block" style="border-top: 1px solid #fff">
                <h5 class="mb-3 font-weight-bold text-uppercase text-white">Connect</h5>
                <div class="row">
                    <div class="col-md-12 col-sm-3">
                        <a [href]="linkToInstagram" target="_blank"><i class="fab fa-instagram fa-2x" style="width: 80px"></i></a>
                    </div>
                    <div class="col-md-12 col-sm-9">
                        <p class="list-group-item bg-transparent border-0 p-0 mt-2 mb-2">{{ email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>